/* GENERAL */
body
{
    font-family: 'Lato', sans-serif; /* écriture pour tout le body / Lato avec internet, sans internet sans-serif */
}
h1,h2,h3,h4,h5,h6
{
    font-weight: bold; /* tout les titres en bold */
}
img
{
    max-width: 100%; /* largeur max / le max améliorera la gestion des petites fenêtres*/
    height: auto; /* responsive */
}
ul,ol
{
    list-style:none; /* enlever les points */
}
section
{
    padding: 45px 0 80px 0; /* espacement intérieur haut droit bas gauche */
}
section .heading /* paramètre pointant seulement sur l'en-tête de section */
{
    text-align: center; /* aligne le texte au milieu */
    padding-bottom: 40px; /* rajouter de l'espace après */
}
section .heading h2 /* paramètre majuscule seulement sur le titre h2 */
{
    text-transform: uppercase;
}
.red-divider /* barre de déco taille couleur de fond et espacement extérieur */
{
    width:100px;
    height: 2px;
    background: #008080;
    margin: 0 auto;
}
.white-divider
{
    width:100px;
    height: 2px;
    background: #fff;
    margin: 0 auto;
}
p.italic /* paragraphe avec classe italic */
{
  font-style: italic;
}



/* MENU */
.navbar /* paramètre barre de navigation */
{
    background: #008080;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar .navbar-nav 
{
    display: inline-block; /* disposition */
    float: none; 
    vertical-align: top; 
}
.navbar .navbar-collapse
{
    text-align: center; /* centrage des onglets du menu */
}
.navbar li a
{
    color: #fff !important; /* couleur des liens */
}
.navbar-nav li a:hover, .navbar-nav li.active a /* couleur des onglets lorsque l'on passe la souris dessus */
{
    color: #008080 !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle
{
    border-style: none;
}
.icon-bar
{
    background-color: #fff !important; 
}


/* ABOUT Yvan */
#about
{
    padding-top: 100px; /* espace entre la photo et le haut de page */
    background: #008080; /* couleur de fond */
}
.profile-picture
{
    text-align: center; /* aligne la photo au centre */
    margin: 0 auto;   /* marge nulle en haut et en bas boîte centrée horizontalement */
    float: none; /* à cause du col-md-4 le float est automatiquement en left */
}
#about .heading h1 /* #section  .classe */
{
    color:#fff; /* couleur du texte */
    text-transform: uppercase; /* majuscule */
}
#about .heading h3
{
    color:#000;
}
.button1
{
    font-weight: bold;
    text-transform: uppercase; 
    color: white;
    border: 1px solid white; /* épaisseur de 1px / type de trait / couleur */
    display: inline-block;
    margin-top:  20px; /* espace au haut extérieur */
    padding: 18px 50px; /* espace intérieur entre texte et bordure */
    border-radius: 3px; /* angle de bordure arrondi */
    transition: all 0.3s ease-in 0s; /* pour que le passage de la souris opère le changement de couleur de façon douce */
}
.button1:hover  /* quand la souris est sur le bouton */
{
    background: white; /* le fond deviandra blanc */
    color: #008080; /* couleur de l'écriture */
    text-decoration: none; /* enlève le soulignage du lien de la balise a */
}

/* SKILLS */
#skills
{
    background: #fff;
}
#skills .heading h2
{
    color: #008080;
}
#skills .progress /* couleur et taille des barres grises */
{
    height: 100%;
    margin: 30px 20px;
    background: #ddd;
}
#skills .progress-bar
{
    background: #008080; /* couleur des progression */
}
#skills .progress h5
{
    text-shadow: 1px 1px 1px #000; /* ombre des textes sur les barre de progression */
}

/* EXPERIENCE */
#experience
{
    background: #008080;
}
#experience .heading h2
{
    color: #fff;
}
.timeline
{
    padding: 30px 10px; /* taille de la barre verticale */
    position: relative; 
}
.timeline:before  /* pseudo classe */
{
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background-color: #333;
    left: 50%;
    margin-left: -2.5px;
}
.timeline > li /* paramètre de chaque élément li de la timeline */
{
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:after
{
    clear: both;
}
.timeline > li:before, .timeline > li:after
{
    content: " ";
    display: table;
}
.timeline li .timeline-badge /* paramètre du badge */
{
    color: #008080;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #ddd;
    border-radius: 50%;
}
.timeline-panel-container /* container de gauche */
    width: 50%;
    float: left;
}
.timeline-panel-container-inverted /* container de droite */
{
    width: 50%;
    float: right;
}
.timeline-panel /* paramètre container d'expérience de gauche */
{
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
    background: #fff;
}
.timeline-panel-container-inverted .timeline-panel /* paramètre container d'expérience de droite */
{
    float: left;
    margin-left: 40px;
}

.timeline-panel:after /* le petit triangle de jonction de gauche */
{
    position:absolute;
    top: 27px;
    right: -14px;
    display:inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline-panel-container-inverted .timeline-panel:after /* le petit triangle de jonction de droite */
{
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-heading h3 /* nom entreprise */
{
    margin-top: 5px;
    font-size: 20px;
}
.timeline-heading h4 /* métier */
{
     color: #008080;
}

/* FORMATION */
#formation
{
    background: #fff;
}
#formation .heading h2
{
    color: #008080;
}
.formation-block /* paramètre de bloc */
{
    width:80%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: #ddd;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-bottom: 20px;

}
.formation-block h5 /* l'année */
{
    color: #888;
    font-size: 15px;
    margin-bottom: 15px;
}
.formation-block .glyphicon /* logo chapeau */
{
    font-size: 40px;
}
.formation-block h3 /* lieu école */
{
     color: #008080;
}
.formation-block h4 /* intitulé du diplôme */
{
   margin-bottom: 20px;
}
.formation-block p /* paragrahe */
{
  font-weight: bold;
}
.formation-block .red-divider /* trait de séparation */
{
    margin-bottom: 20px;
}
    
/* PORTFOLIO */
#portfolio
{
    background: #008080;
}
#portfolio .heading h2
{
    color: #fff;
}
#portfolio .thumbnail img /* paramètre des liens imagé */
{
    width: 100%;
    height: 100%;
    filter: grayscale(100%); /* rendu noir et blanc */
    -webkit-filter: grayscale(100%); /* rendu nor et blanc pour chrome */
}
#portfolio .thumbnail img:hover /* annule le rendu noir et blanc lors du passage de la souris */
{
     filter: none;
    -webkit-filter: none; 
}


/* RECOMMANDATIONS */
#recommandations
{
    background: #fff;
}
#recommandations .heading h2
{
  color: #008080;
}
.carousel-control.left, .carousel-control.right /* paramètre similaire à la flêche de gauche et de droite */
{
    background-image: none;
    color: #008080;
}
.carousel-indicators /* trois petit ronds */
{
    bottom: 0px;
}
.carousel-indicators li /* bordure des petits ronds */
{
    border-color: #008080;
}
.carousel-indicators li.active /* remplissage du rond actif */
{
    background-color: #008080;
}
#myCarousel .item /* espace haut et bas puis gauche droite */
{
    padding: 40px 30px;
}
#myCarousel .item h3 /* écriture des faut commentaires */
{
    color: #008080;
    font-style: italic;
}

/* FOOTER */
footer
{
    background: #333;
    padding: 10px 0 10px;
}
footer .glyphicon /* logo de la flêche de retour en haut */
{
    font-size:  25px;
    margin: 20px;
    color: #008080;
    height: 30px;
}
footer .glyphicon:hover /* changement d'état lors du passage de la souris */
{
    font-size:  27px;
}
footer h5
{
    color: #fff;
    font-weight: normal;
}































