/* ---------------- RESET ---------------- */
*{margin:0;padding:0;}

/* ---------------- GÉNÉRAL ---------------- */
body{font-family: roboto, sans serif;}

.flex-row{display:flex;flex-flow:row wrap;justify-content: center;align-items: center;}
.flex-column{display:flex;flex-direction:column;justify-content: center;align-items: center;}}

/* ---------------- ITEMS ---------------- */

.bg-lightblue{background-color: #9BA9C7}
.bg-darkblue{background-color: #5F687A}
.bg-blue{background-color: #57AFCC;}

/* ---------------- COMPÉTENCE ---------------- */
#comp{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 100vh;
    background-color: #fff;
}

.container {
    height: 300px;
    width: 600px;
    top: 60px;
    left: calc(50% - 300px);
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .card {
    display: flex;
    height: 280px;
    width: 200px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 1rem rgba(0, 0, 0, 0.383);  /*offset-x | offset-y | blur-radius | color */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  
  .card:not(:first-child) {
      margin-left: -50px;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
  
  .title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  
  .bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 10px;
    width: 150px;
  }
  
  .emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }
  
  .filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
  }
  
  .card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
  }
  
  .circle {
    position: absolute;
    top: 150px;
    left: calc(50% - 60px);
  }
  
  .stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
  }
  
  svg {
    fill: #17141d;
    stroke-width: 2px;
    width: 150px;
  }
  
  .card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
  }

/* ---------------- EXPÉRIENCE ---------------- */
#xp{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 100vh;
    background-color: rgb(190, 190, 190);
}

.contner{
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;

}
.desk1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 400px;
    background-color: green;
}
.desk2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 400px;
    background-color: red;
}

#xp2, #xp3 {display: none;}

.xps{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.xps > img{
    width: 80px;
    height: 80px;
}

.years{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.years > img{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.years > p{
    padding-right: 20px;
    cursor: pointer;
}

/* ---------------- FORM CONTACT ---------------- */
#cont{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 100vh;
    background-color: rgb(131, 131, 131);
}

#myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 320px;
}

input, textarea {
    /* Pour s'assurer que tous les champs texte ont la même police.
       Par défaut, les textarea ont une police monospace */
    font: 1em sans-serif;
  
    /* Pour que tous les champs texte aient la même dimension */
    width: 250px;
    height: 30px;
    box-sizing: border-box;
  
    /* Pour harmoniser le look & feel des bordures des champs texte */
    border: 1px solid #999;
}
  
input:focus, textarea:focus {
    /* Pour souligner légèrement les éléments actifs */
    border-color: #000;
}
  
textarea {
    /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
    vertical-align: top;
  
    /* Pour donner assez de place pour écrire du texte */
    height: 5em;
}

.label{
    /* même taille étiquettes et bien alignées */
    margin-top: 20px;
    color: white;
    display: inline-block;
    width: 90px;
    text-align: right;
}
.input{margin-top: 20px;border-radius: 5px;}

#submit{
    border-style: 10px;
    border-color: rgb(255, 255, 255);
    color: #fff;
    text-align: center;
    background-color: #5F687A;
    font-size: 18px;
    width: 120px;
    height: 50px;
    cursor: pointer;
    margin-top: 20px;
}

#submit:hover{
    background-color: #9BA9C7;
}

/* ---------------- FOOTER ---------------- */
footer{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    padding: 0px;
}

.reso > img{
    width: 40px;
    height: 40px;
    margin: 20px;
    border-radius: 20px;
    cursor: pointer;
}

footer > p{
    color: white;
    font-size: 12px;
}


/* ---------------- MEDIA ---------------- */
/*XS*/
@media screen and (min-width: 576px) {
}

/*SM*/
@media screen and (min-width: 768px) {
}

/*MD*/
@media screen and (min-width: 980px) {
}

/*LG*/
@media screen and (min-width: 1200px) {
}